:root {
  --primaryBlack: #1a1a1a;
  --primaryDarkGrey: #393e41;
  --primaryBrown: #43332b;
  --primaryWhite: #fff;
  --bgWhite: #f8f6ee;
  --primaryGreen: #1b998b;
  --primaryYellow: #dbb318;
  --primaryRed: #fe5f55;
}

#root {
  height: 100%;
  margin: 0px;
  background-color: var(--bgWhite);
}
.header-container {
  max-width: 100% !important;
  height: 150px;
  /* background-color: #ffffff69;
  box-shadow: 10px 10px 10px #1912120f; */
}
.nav-link {
  color: #6f5549;
  font-size: xx-large;
  text-decoration: underline;
}
.nav-link:hover {
  color: #6d7c9c;
}
.ronnskar-page-container {
  margin-top: 50px;
}
.example-container {
  height: 100%;
  background-color: rgb(185, 209, 253);
}
.dark-brown {
  color: #43332b;
}
button {
  margin: 2px;
}

.form-container {
  padding: 30px;
  display: flex;
  align-items: center;
  flex-direction: column;
}
span.has-error {
  color: red;
}
.form-group.has-error textarea,
.form-group.has-error input {
  border: 2px solid var(--primaryRed);
}
.input-container {
  padding: 10px;
}

table {
  border-collapse: collapse;
  color: var(--primaryBrown);
}
th {
  color: var(--primaryBrown);
  height: 26px;
}
.add-event.btn {
  background-color: var(--primaryGreen);
  color: var(--primaryWhite);
  font-weight: 600;
  letter-spacing: 0.025rem;
  margin-top: 10px;
  transition: 0.2s ease;
}
.add-event.btn:hover,
.add-event.btn:focus,
.add-event.btn:active {
  color: var(--primaryWhite);
  background-color: rgba(27, 153, 139, 0.6);
}
.inline-form .form-group {
  margin: 0;
}
.inline-form label {
  margin: 0;
  display: block;
}
.inline-form input,
.inline-form textarea {
  width: 90%;
  margin: 0 0 0 26px;
  padding: 0;
}
.add-event-form label {
  display: block;
}
.add-event-form input,
textarea,
select {
  width: 100%;
}
.fam-card-header {
  color: var(--primaryBrown);
}
.fam-card-quick-info {
  display: inline-block;
}
.fam-card {
  width: 400px;
  margin: 15px;
  background-color: #ffffff69;
  box-shadow: 10px 10px 10px #1912120f;
  /* border-top: 2px solid #604133; */
  /* background-color: #c9d9de; */
  /* background-color: #6f55494f; */
}
.fam-card h3 {
  text-align: center;
}
.fam-card-img {
  height: 300px;
  width: 400px;
  padding: 15px;
  display: inline-block;
  /* box-shadow: 10px 10px 10px #1912120f; */
}
.map-img {
  height: auto;
  max-width: 100%;
}

.event-details {
  position: relative;
  border-top: 1px solid #7f8590;
  margin-top: 20px;
  padding: 10px 20px 0;
}
.event-details h3 {
  margin-top: 5px;
  font-size: 16px;
}
.event-details p {
  margin: 0;
}
.inline-booker {
  padding: 10px;
  height: 100%;
  border: 2px solid var(--primaryBrown);
}
.day-details {
  /* background-color: var(--primaryYellow); */
  padding: 0 !important;
  margin-top: 26px;
  height: 100%;
}

.day {
  background-color: #fff;
  border-style: solid;
  width: 80px;
  height: 80px;
}
.day.booked-private {
  background-color: var(--primaryRed);
}
.day.booked-open {
  background-color: #cbdddb;
}
.day > div {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  height: 100%;
}
.day .is-chosen {
  background-color: #1b998b;
}
.day .remove-event,
.event-details .remove-event {
  padding: 0;
  background-color: transparent;
  width: 20px;
  height: 20px;
  color: #d6232e;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  border: none;
  transition: all 0.2s ease;
}
.event-details .remove-event {
  position: absolute;
  top: 10px;
  right: 10px;
  /* background:    <svg width="1em" height="1em" viewBox="0 0 16 16" className="bi bi-x-circle-fill" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
  <path fill-rule="evenodd" d="M16 8A8 8 0 1 1 0 8a8 8 0 0 1 16 0zM5.354 4.646a.5.5 0 1 0-.708.708L7.293 8l-2.647 2.646a.5.5 0 0 0 .708.708L8 8.707l2.646 2.647a.5.5 0 0 0 .708-.708L8.707 8l2.647-2.646a.5.5 0 0 0-.708-.708L8 7.293 5.354 4.646z"/>
</svg>; */
}
.day .event-title {
  font-size: 9px;
  font-weight: bold;
}
.day-number {
  margin: -1px;
  font-weight: 700;
  text-align: center;
  background-color: var(--primaryDarkGrey);
  color: #fff;
}
.day-number.today {
  background-color: var(--primaryYellow);
}
.event-in-day {
  cursor: pointer;
}
.weekend-day {
  color: #f00;
}

.change-month.col {
  display: flex;
  justify-content: space-between;
  font-size: 22px;
  text-transform: capitalize;
  max-width: 50%;
}
.change-month button {
  padding: 0;
  background: none;
  border: none;
}
