#root {
  height: 100%;
  margin: 0px;
}

.example-container {
  height: 100%;
  background-color: rgb(185, 209, 253);
}

.panel-container {
  height: 100%;
  width: 100%;
  background-color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

button {
  margin: 2px;
}

.form-container {
  padding: 30px;
  display: flex;
  align-items: center;
  flex-direction: column;
}

.input-container {
  padding: 10px;
}
.year-pie {
  max-width: 50%;
  margin-top: 10%;
}
table {
  border-collapse: collapse;
}
.add-event-form label {
  display: block;
}
.add-event-form input,
textarea,
select {
  width: 100%;
}

.zone-map-div {
  height: 400px;
}
.zone-map-img {
  height: 350px;
}
.no-zone > #dropdown-zone-button {
  background-color: #06ba63;
}

.zone-color-1 > #dropdown-zone-button,
#zone-color-1 {
  background-color: #d6232e;
}

.zone-color-2 > #dropdown-zone-button,
#zone-color-2 {
  background-color: #de860a;
}

.zone-color-3 > #dropdown-zone-button,
#zone-color-3 {
  background-color: #f6ea52;
}
.zone-color-4 > #dropdown-zone-button,
#zone-color-4 {
  background-color: #9aaa3a;
}

.zone-color-5 > #dropdown-zone-button,
#zone-color-5 {
  background-color: #4a763a;
}

.zone-color-6 > #dropdown-zone-button,
#zone-color-6 {
  background-color: #6aaaca;
}

.zone-color-7 > #dropdown-zone-button,
#zone-color-7 {
  background-color: #5a5a86;
}

.zone-color-8 > #dropdown-zone-button,
#zone-color-8 {
  background-color: #664a7a;
}

.zone-color-mountain > #dropdown-zone-button,
#zone-color-mountain {
  background-color: #faf6ea;
}
.month-tag {
  padding: 10px;
}
.monthly-event-title.tag.card-header {
  padding: 0;
}
.monthly-event-title.tag.card-header > button {
  color: #faf6ea;
}
.monthly-event-title.tag.card-header.plant {
  background-color: green;
}
.monthly-event-title.tag.card-header.harvest {
  background-color: #ffc300;
}
.tag {
  display: inline-block;
  padding: 0 5px;
  border-radius: 5px;
  font-size: 12px;
}
.tag + .tag {
  margin-left: 5px;
}
.JAS {
  background-color: #f00;
}
.harvest {
  background-color: #ffc300;
}
.plant {
  background-color: green;
}
.event-details {
  position: relative;
  border-top: 1px solid #078c4c;
  margin-top: 20px;
  padding: 10px 20px 0;
}
.event-details h3 {
  margin-top: 5px;
  font-size: 16px;
}
.event-details p {
  margin: 0;
}
.day-details {
  border: brown;
  border-style: groove;
  padding: 0 !important;
}

.day {
  border-style: solid;
  width: 80px;
  height: 80px;
}
.day > div {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  height: 100%;
}
.day .remove-event,
.event-details .remove-event {
  padding: 0;
  background-color: transparent;
  width: 20px;
  height: 20px;
  color: #d6232e;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  border: none;
  transition: all 0.2s ease;
}
.event-details .remove-event {
  position: absolute;
  top: 10px;
  right: 10px;
  /* background:    <svg width="1em" height="1em" viewBox="0 0 16 16" className="bi bi-x-circle-fill" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
  <path fill-rule="evenodd" d="M16 8A8 8 0 1 1 0 8a8 8 0 0 1 16 0zM5.354 4.646a.5.5 0 1 0-.708.708L7.293 8l-2.647 2.646a.5.5 0 0 0 .708.708L8 8.707l2.646 2.647a.5.5 0 0 0 .708-.708L8.707 8l2.647-2.646a.5.5 0 0 0-.708-.708L8 7.293 5.354 4.646z"/>
</svg>; */
}
.day .event-title {
  font-size: 9px;
  font-weight: bold;
}
.day-number {
  margin: -1px;
  font-weight: 700;
  text-align: center;
  background-color: #078c4c;
  color: #fff;
}
.day-number.today {
  background-color: #06ba63;
}
.event-in-day {
  cursor: pointer;
}
.weekend-day {
  color: #f00;
}
