.week {
  background-color: aqua;
}
.JAS {
  color: #f00;
}
.Odling {
  color: green;
}
.day-details {
  border: brown;
  border-style: groove;
}
.day {
  border-style: solid;
}
.day-number {
  font-weight: 700;
  text-align: center;
}
.event-in-day {
  cursor: pointer;
}
.weekend-day {
  color: #f00;
}
